.feedback {
  max-width: 2600px;
  margin: 0 auto;
  background-color: $color-default-white;
  background-image: image-set(url("../img/bg-feedback.webp") 1x, url("../img/bg-feedback.png") 1x);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    padding-top: 76px;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding-top: 49px;
    padding-bottom: 56px;
  }

  & h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;

    @include vp-1023 {
      font-size: 34px;
      line-height: 51px;
      margin-bottom: 7px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 12px;
    }
  }

  & p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;

    @include vp-1023 {
      margin-bottom: 52px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 36px;
    }

    & br:first-of-type {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    & br:last-of-type {
      @include vp-767 {
        display: none;
      }
    }
  }
}

.feedback__container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 144px;

  @include vp-1023 {
    text-align: center;
    flex-direction: column;
  }
}

.feedback__wrapper-form {
  background-color: $color-default-black;
  padding: 50px;
  padding-top: 43px;

  @include vp-767 {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 35px;
  }

  & h3 {
    color: $color-default-white;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 30px;

    @include vp-767 {
      line-height: 25px;
      margin-bottom: 27px;
    }

    & br:first-of-type {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    & br:last-of-type {
      @include vp-767 {
        display: none;
      }
    }
  }
}
