.products-list {
  padding: 0;
  margin: 0 15px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include vp-1279 {
    margin: 0;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
  }

  & img {
    @include vp-1023 {
      width: 100%;
    }
  }

  & h3 {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    min-height: 40px;
    min-width: 210px;
    border: none;
    background-color: $color-default-white;
    color: $color-default-black;
    margin-top: 11px;

    @include hover-focus {
      opacity: 0.7;
    }

    @include vp-1023 {
      min-width: 239px;
    }

    @include vp-767 {
      min-width: 223px;
    }
  }
}

.products-list__item {
  position: relative;
  min-height: 386px;

  @include vp-1023 {
    max-height: 385px;
  }

  @include vp-767 {
    min-width: 270px;
    width: 100%;
    max-width: 430px;
    max-height: 500px;
    aspect-ratio: 0.7/1;
  }

  & span {
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
    bottom: 6%;
    left: 12%;

    @include vp-1023 {
      bottom: 7%;
    }

    @include vp-767 {
      bottom: 4%;
      left: 9%;
    }
  }

  & img {
    height: 100%;
  }

  & dl {
    padding: 0;
    margin: 0;
    text-align: left;

    & dt {
      font-weight: 500;
      font-size: 14px;
    }

    & dd {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
    }

    & dd:nth-of-type(2n) {
      margin-bottom: 10px;
    }
  }
}

.products-list__overlay {
  display: none;
  padding-left: 25px;
  padding-top: 29px;
  padding-bottom: 10px;
  opacity: 0;
  background-color: $color-default-black;
  color: $color-default-white;

  @include vp-1279 {
    padding-left: 6px;
  }

  @include vp-1023 {
    padding-left: 37px;
  }

  @include vp-767 {
    padding-left: 23px;
  }
}

.products-list__item:hover img,
.products-list__item:hover span {
  display: none;
  opacity: 0;
}

.products-list__item:focus img,
.products-list__item:focus span {
  display: none;
  opacity: 0;
}

.products-list__item:hover .products-list__overlay {
  display: block;
  opacity: 1;
}

.products-list__item:focus .products-list__overlay {
  display: block;
  opacity: 1;
}

.products-list__spec-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: $color-default-black;
}
